* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background-color: black;
}

/* Navbar */
.navbar-container {
  height: 20vh;
  width: 100%;
  display: flex;
}

.youtube-logo {
  width: 9rem;
  margin-top: -3.5rem;
  cursor: pointer;
}
.form {
  margin: auto;
  margin-top: 1rem;
  width: 40%;
  background: transparent;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  width: 90%;
  outline: none;
  border: none;
  padding-left: 1rem;
}

.svg {
  /* height: 100%;
  width: 7%; */
  background-color: grey;
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
}

/* Navbar ends here*/

/* video card  */

.video-card-container {
  display: inline-block; /* Display as inline block to allow multiple cards in a row */
  margin-right: 20px; /* Adjust spacing between cards */
  width: calc(25% - 20px); /* Set width for each card */
}

.thumbnail {
  width: 100%;
  height: auto;
}

.video-card-details {
  padding: 10px; /* Add padding for details */
}

.feed-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for multiple rows */
  justify-content: space-between;
  /* Add padding, margin, or other styles for the parent container */
}

/* .channel-logo {
}

.views-ago-container {
}

.views {
}

.ago {
} */

/* video card ends here */
